Repository jklover1110/clearlove: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, eslint

refactor(src): mv is-object is-ordinary-object
  src/promise-objects/index.ts
  src/toolman/constants.ts
  src/toolman/index.ts
  src/toolman/is-ordinary-object.ts
Due: prettier -w, eslint

test(__tests__): add catch.spec.ts
  __tests__/catch.spec.ts
Due: prettier -w, eslint

feat(src): mock promise.prototype.catch() api
  src/abstract-operations/operations-on-objects/get-v.ts
  src/abstract-operations/operations-on-objects/get.ts
  src/abstract-operations/operations-on-objects/index.ts
  src/abstract-operations/operations-on-objects/invoke.ts
  src/abstract-operations/operations-on-objects/to-object.ts
  src/promise-objects/index.ts
  src/toolman/constants.ts
Due: prettier -w, eslint

docs(readme.md): modify readme.md readme.zh-cn.md
  README.md
  README.zh-CN.md
Due: none

docs(readme.md): modify readme.md
  README.md
  README.zh-CN.md
Due: none

test(package.json): add promises-es6-tests
  __tests__/adapter.ts
  index.d.ts
  package.json
  pnpm-lock.yaml
  src/abstract-operations/operations-on-objects/call.ts
Due: prettier -w, eslint

build(root): mv esn-promise clearlove
  README.md
  README.zh-CN.md
  package.json
  simple-git-hooks.json
  vite.config.ts
  vitest.config.ts
Due: prettier -w, eslint

build(root): npm run suites
  README.md
  README.zh-CN.md
  package.json
  simple-git-hooks.json
Due: prettier -w

build(simple-git-hooks.json): modify hooks
  simple-git-hooks.json
Due: prettier -w

Path conditions:
  prettier -w: (any of: *.json) or (any of: *.ts)
  eslint: any of: *.ts
